html[data-theme='dark'] {
    --mainBackgroundColor: #181818;
    --mainTextColor: #FFFFFF;
    --blockBackgroundColor: #1F1F1F;
    --blockBorderColor: #2E2E2E;
    --tagColor: #E6E6E6;
    --textColor: #E6E6E6;
    --textColorHover: #E8E8E8;
    --inputPlaceholderColor: #959595;
    --selectInputOptionColorHover: #393939;
    --listCardColorHover: #242424;
    --listCardBorderColorHover: #383838;
    --dropdownItemColorHover: #393939;
    --dropdownItemTextColorHover: #FFFFFF;
    --dropdownItemColorActive: #4f4f4f;
    --dropdownItemTextColorActive: #FFFFFF;
    --buttonBorderColor: #FFFFFF;
    --buttonTextColor: #FFFFFF;
    --buttonTextColorHover: #000000;
    --buttonBorderColorHover: #FFFFFF;
    --buttonBackgroundColorHover: #FFFFFF;
    --buttonBackgroundColorActive: #E1E1E1;
}