html {
    --main-background-color: #F8F8F8;
    --sidebar-background-color: #fff;
    --sidebar-borders-color: #D9D9D9;

    --header-background-color: #fff;
    --header-border-color: var(--lite);

    --blue: #286DD4;
    --blue-focus: #5C96EF;
    --blue-hover: #315EA2;
    --blue-active: #1A427D;

    --main-text: #000000;
    --main-text-alt: #fff;
    --secondary-text: #525252;
    --light-text: #929292;
    --lite: #D9D9D9;
    --lite-2: #F8F8F8;

    --block-border-color: #F8F8F8;
    --block-border-color-hover: #F0F0F0;
    --block-background-color: #fff;

    --block-box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
    --block-box-shadow-hover: 0 4px 8px 0 rgba(0,0,0, .2);
    --button-box-shadow: var(--block-box-shadow);
    --button-box-shadow-hover: var(--block-box-shadow);

    --card-links-color: var(--main-text);
    --card-links-color-hover: var(--main-text);

    --task-complete-btn-background-color: #fff;
    --task-complete-btn--icon-color: var(--main-text);
    --task-complete-btn-border-color: var(--main-text);
    
    --task-complete-btn-background-color-active: #82EB80;
    --task-complete-btn-icon-color-active: #33BA30;
    --task-complete-btn-border-color-active: #82EB80;

    --button-background-color: #fff;
    --button-flat-color: #666666;
    --button-flat-color-hover: var(--main-text);
    --button-flat-color-active: var(--main-text);

    --button-choose-background-color: var(--block-background-color);
    --button-choose-color: var(--main-text);

    --button-choose-background-color-hover: #f7f7f7;
    --button-choose-color-hover: var(--main-text);

    --nav-link-background-color: #fff;
    --nav-link-background-color-active: #F8F8F8;
    --nav-link-color-active: var(--main-text);
    --nav-link-color-hover: var(--secondary-text);

    --progress-bar-background-color: #E2E2E2;
    --progress-bar-color: linear-gradient(90deg, #8affbf, #9ee8ff);

    --input-background-color: var(--block-background-color);
    --input-border-color: #F2F2F2;
    --input-text-color: #929292;

    --input-text-color-active: #353535;
    --input-border-color-active: #535353;

    --input-select-option-background-color-hover: #f7f7f7;
    --input-select-option-color-hover: var(--main-text);
    --input-select-option-background-color-active: var(--main-text);

    --custom-scrollbar-color: #ffffff;
    --custom-scrollbar-track-color: #ffffff;
    --custom-scrollbar-track-color-hover: #ffffff;
    --custom-scrollbar-track-color-active: #ffffff;
    --custom-scrollbar-thumb-color: #dcdcdc;
    --custom-scrollbar-thumb-color-hover: #8E8E8E;
    --custom-scrollbar-thumb-color-active: #383838;
}