html {
    --mainBackgroundColor: #EFEFEF;
    --mainTextColor: #000000;
    --blockBackgroundColor: #ffffff;
    --blockBorderColor: #F5F5F5;
    --buttonBackgroundColorHover: #fff;
    --buttonTextColorHover: #000;
    --buttonBackgroundColorActive: #e3e3e3;
    --tagColor: #E3E3E3;
    --tagColorHover: #c0c0c0;
    --textColor: #575757;
    --textColorHover: #373737;
    --inputPlaceholderColor: #575757;
    --selectInputOptionColorHover: #000000;
    --listCardColorHover: #F6F6F6;
    --listCardBorderColorHover: #FFFFFF;
    --dropdownItemColorHover: #000000;
    --dropdownItemTextColorHover: #ffffff;
    --buttonBorderColor: #000000;
    --buttonTextColor: #000000;
    --buttonTextColorHover: #ffffff;
    --buttonBorderColorHover: #000000;
    --buttonBackgroundColorHover: #000000;
    --buttonBackgroundColorActive: #292929;
}