html {
    --mainBackgroundColor: #EFEFEF;
    --mainTextColor: #000000;
    --blockBackgroundColor: #ffffff;
    --blockBorderColor: #F5F5F5;
    --buttonBackgroundColorHover: #fff;
    --buttonTextColorHover: #000;
    --buttonBackgroundColorActive: #e3e3e3;
    --tagColor: #E3E3E3;
    --tagColorHover: #c0c0c0;
    --textColor: #575757;
    --textColorHover: #373737;
    --inputPlaceholderColor: #575757;
    --selectInputOptionColorHover: #000000;
    --listCardColorHover: #F6F6F6;
    --listCardBorderColorHover: #FFFFFF;
    --dropdownItemColorHover: #000000;
    --dropdownItemTextColorHover: #ffffff;
    --buttonBorderColor: #000000;
    --buttonTextColor: #000000;
    --buttonTextColorHover: #ffffff;
    --buttonBorderColorHover: #000000;
    --buttonBackgroundColorHover: #000000;
    --buttonBackgroundColorActive: #292929;

    --main-background-color: #F8F8F8;
    --sidebar-background-color: #fff;
    --sidebar-borders-color: #D9D9D9;

    --blue: #286DD4;
    --blue-focus: #5C96EF;
    --blue-hover: #315EA2;
    --blue-active: #1A427D;

    --main-text: #000000;
    --main-text-alt: #fff;
    --secondary-text: #525252;
    --light-text: #929292;
    --lite: #D9D9D9;

    --block-border-color: #F8F8F8;
    --block-border-color-hover: #F0F0F0;
    --block-background-color: #fff;

    --block-box-shadow: 0 4px 8px 0 rgba(0,0,0,.05);
    --block-box-shadow-hover: 0 4px 8px 0 rgba(0,0,0, .2);

    --button-background-color: #fff;
    --button-flat-color: #555555;
    --button-flat-color-hover: #000;

    --link-background-color: #fff;
    --link-background-color-active: #F8F8F8;
}