.page-enter-active, .page-leave-active {
    transition: opacity .15s linear, transform .15s linear;
    transform: translateY(0px);
}

.page-enter, .page-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}



.fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease-in-out;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.nav-enter-active, .nav-leave-active {
	transition: opacity .1s linear, transform .2s linear;
}

.nav-enter, .nav-leave-to {
	opacity: 0;
	transform: translateX(25px);
}

.dropdown-transition {
    &-leave-active {
        animation: dropdownAnimation .3s ease-in-out reverse;
    }

    &-enter-active {
        animation: dropdownAnimation .3s ease-in-out;
    }
}

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(100% - 10px)) scale(0.8);
    }   

    80% {
        opacity: 1;
        transform: translate(-50%, 100%) scale(1.1);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, 100%) scale(1);
    }
}

.select-options-transition {
    &-leave-active {
        animation: selectOptionsAnimation .3s ease-in-out reverse;
    }

    &-enter-active {
        animation: selectOptionsAnimation .3s ease-in-out;
    }
}

@keyframes selectOptionsAnimation {
    0% {
        opacity: 0;
        transform: translateY(-20px) scale(0.8);
    }   

    80% {
        opacity: 1;
        transform: translateY(5px)scale(1.05);
    }

    100% {
        opacity: 1;
        transform: translateY(0px) scale(1);;
    }
}

.modal-transition {
    &-leave-active {
        opacity: 0;
        transition: opacity .3s ease-in-out;

        .modal {
            animation: selectOptionsAnimation .3s ease-in-out reverse;
        }
    }

    &-enter-active {
        opacity: 1;
        transition: opacity .3s ease-in-out;
        
        .modal {
            animation: selectOptionsAnimation .3s ease-in-out;
        }
    }
}