.page-enter-active, .page-leave-active {
    transition: opacity .15s linear, transform .15s linear;
    transform: translateY(0px);
}

.page-enter, .page-leave-to {
    opacity: 0;
    transform: translateY(-10px);
}



.fade-enter-active, .fade-leave-active {
    transition: opacity .2s linear;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.nav-enter-active, .nav-leave-active {
	transition: opacity .1s linear, transform .2s linear;
}

.nav-enter, .nav-leave-to {
	opacity: 0;
	transform: translateX(25px);
}

.dropdown-transition {
    &-leave-active {
        animation: dropdownAnimation .2s ease reverse;
    }

    &-enter-active {
        animation: dropdownAnimation .2s ease;
    }
}

@keyframes dropdownAnimation {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(100% - 10px)) scale(0.8);
    }    

    100% {
        opacity: 1;
        transform: translate(-50%, 100%) scale(1) ;
    }
}