$baseBoxShadow: 3px 4px 4px rgba(0, 0, 0, 0.1);
$baseBoxShadowHover: 3px 4px 8px rgba(0, 0, 0, 0.2);

$mainBackgroundColor: #EFEFEF;
$mainColor: #000000;
$blockBackgroundColor: #ffffff;
$textColor: #575757;
$tagColor: #E3E3E3;

$tabletBP: 990px;
$mobileBP: 670px;

$containerWidth: 1100px;