$baseBoxShadow: 4px 4px 10px 0px rgba(0, 0, 0, .2);
$baseBoxShadowHover: 4px 4px 10px -4px rgba(0, 0, 0, .2);

$mainBackground: #FAFAFA;
$gray: #767676;

$tabletBP: 990px;
$mobileBP: 670px;

.mb0 {
	margin-bottom: 0;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.w100p {
    width: 100%;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to{
    opacity: 0;
}